@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-agri-green: #1f7e44;
  --color-agri-dark: #14532D;
  --color-agri-light: #ecfdf5;
  --color-agri-orange: #f89a20;
  --font-sans: 'Inter', sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #1f2937;
  -webkit-font-smoothing: antialiased;
}
